/* Blue: #0d6efd */
/* Dark: #111864 */
/* Deep: #020631 */
body {
    background: #020631;
    font: 14px 'Nunito', sans-serif;
}
.today {
    font-size: 22px;
}
.animated.bounceIn, .animated.bounceOut, .animated.flipOutX, .animated.flipOutY {
    font-size: 13px;
}
.todo-list {
    margin: 10px 0 20px 0;
}
.todo-list .task {
    background: #fff;
    border-radius: 5px;
    margin-bottom: 7px;
    position: relative;
    word-break: break-word;
}
.todo-list .task.danger {
    background: rgb(17, 24, 100);
}
.todo-list .task.danger label {
    text-decoration: line-through;
    color: #fff;
}
.todo-list .task.danger label .checkbox-mask {
    border-color: transparent;
}
.todo-list .task label .checkbox-mask:hover,
.todo-list .task label input[type='checkbox']:hover {
    cursor: pointer;
}
.todo-list .task.danger label .checkbox-mask:after {
    content: '\f00c';
    font-family: 'FontAwesome';
    display: block;
    position: absolute;
    top: -3px;
    left: 0;
}
.todo-list .task .checkbox {
    margin: 0;
    padding: 10px 15px;
    border-radius: 5px;
}
.todo-list .task label {
    color: black;
    display: block;
    padding-right: 10px;
    width: fit-content;
}
.todo-list .task label input[type="checkbox"] {
    visibility: hidden;
    margin-right: 4px;
}
.todo-list .task label .checkbox-mask {
    display: block;
    border: 2px solid #666;
    width: 12px;
    height: 12px;
    border-radius: 2.5px;
    position: absolute;
    margin-left: -4px;
    margin-top: 4px;
}
.todo-list .task .close {
    display: none;
    position: absolute;
    width: 12px;
    height: 16px;
    top: 50%;
    margin-top: -9px;
    right: 10px;
    font-size: 16px;
}
.todo-list .task .edit {
    display: none;
    position: absolute;
    width: 12px;
    height: 16px;
    top: 50%;
    margin-top: -9px;
    right: 32px;
    font-size: 15px;
}
.todo-list .task .options {
    display: none;
    position: absolute;
    width: 12px;
    height: 16px;
    top: 50%;
    margin-top: -9px;
    right: 10px;
    font-size: 16px;
}
.todo-list .task .close .fa,
.todo-list .task .edit .fa,
.todo-list .task .options .fa {
    line-height: 16px;
    margin-top: 1px;
    display: block;
}
.todo-list .task .close .fa:hover,
.todo-list .task .edit .fa:hover,
.todo-list .task .options .fa:hover {
    cursor: pointer;
}
.todo-list .task:hover .close,
.todo-list .task:hover .edit,
.todo-list .task:hover .options {
    display: block;
}
.has-feedback .fa {
    line-height: 35px;
    cursor: pointer;
    pointer-events: auto;
    z-index: 10;
    display: block;
    color: #666;
    -webkit-transition: color 0.15s linear;
    transition: color 0.15s linear;
    position: absolute;
    right: 12px;
    top: 6px;
}
.has-feedback .fa:hover {
    color: #999;
}
.add-control {
    margin-top: 20px;
    position: relative;
}
.add-control .form-control {
    padding-right: 25px;
}
.add-control .refresh {
    position: absolute;
    top: 8px;
    right: 0;
    font-size: 14px;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    margin-right: -10px;
    cursor: pointer;
    color: #9da1af;
    -webkit-transition: color 0.15s linear;
    transition: color 0.15s linear;
}
.add-control .refresh:hover {
    color: #666;
}
.form-control, .form-control:focus, .form-control:active, .form-control:active:focus {
    border: none;
    padding: 10px 15px;
    outline: none;
}
.form-control {
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.form-control:focus {
    -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.2);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.separator {
    margin: 15px auto;
    width: 50%;
    height: 1px;
}
.animated {
    -webkit-animation-duration: 0.45s;
    animation-duration: 0.45s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.animated.fast {
    -webkit-animation-duration: 0.25s;
    animation-duration: 0.25s;
}
.today{
    text-align: center;
    color: #fff;
}
.zero{
    top: 8px;
    right: 0;
    font-size: 14px;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    margin-right: -10px;
    cursor: pointer;
    color: #9da1af;
    -webkit-transition: color 0.15s linear;
    transition: color 0.15s linear;
}
button {
    font-size: 16px;
    color: #ffffff;
    background: #fff0;
    padding: 10px 20px;
    transition: all 0.3s;
    outline: none;
    border-color: #FFF;
    border-radius: 35px;
    margin-left: 5px;
    margin-right: 5px;
}
#start {
    background: #6200ff;
    border: none;
    border-radius: 20px;
    padding-left: 35px;
    padding-right: 35px;
}
#start:hover {
    box-shadow: 0 0 25px 0 #452579;
    color: white;
}
#inc{
    border: none;
    font-size: 40px;
    border-radius: 20px;
    padding-left: 35px;
    padding-right: 35px;
}
#dec{
    border: none;
    font-size: 40px;
    border-radius: 20px;
    padding-left: 35px;
    padding-right: 35px;
}
.pomodoro {
    text-align: center;
}
p:not(.card-text) {
    margin: 15px 0 10px;
    font-size: 46px;
    font-weight: 700;
    color: #FFF;
}
.fa-ban:before {
    content: "\f05e";
    color: #8c8c8c;
    font-size: 29px;
}
.logo {
    text-align: center;
}
.h4, h4 {
    font-size: 16px;
    color: #fff;
    text-align: center;
    margin-top: 40px;
}
a:focus, a:hover {
    color: #fbfbfb;
    text-decoration: none;
}
li.task .fa-remove:before, li.task .fa-close:before, li.task .fa-times:before {
    content: "\f00d";
    color: #000;
}
li.task .fa-pencil:before {
    content: "\f044";
    color: #000;
}
li.task .fa-ellipsis-vertical:before {
    content: "\f142";
    color: #000;
}
li.task.danger .fa-remove:before, li.task.danger .fa-close:before, li.task.danger .fa-times:before {
    color: white;
}
li.task.danger .fa-pencil:before {
    color: white;
}
li.task.danger .fa-ellipsis-vertical:before {
    color: white;
}
@media (max-width: 768px){
    .col-xs-offset-3 {
        margin-left: 10%;
    }
}
@media (max-width: 768px){
    .col-xs-6 {
        width: 80%;
    }
}
@viewport {
    width: device-width;
    zoom: 1;
}
@media (min-width: 992px){
    .container {
        width: 100%;
    }
}
.todo-list input[type="checkbox"] {
    opacity: 0;
}
.navbar {
    background: #111864!important;
}
.card {
    border: 1px solid #020631;
    background: #020631;
    color: white!important;
}
.card-body {
    border-radius: 8px;
    background: #111864!important;
    padding: 24px;
}
a.nav-link {
    color: white!important;
}
a.nostyle {
    text-decoration: none;
    color: white;
}
a span {
    vertical-align: middle;
}
.navbar-expand-md .navbar-nav .dropdown-menu {
    /* padding: 0; */
}
.dropdown-item:focus, .dropdown-item:hover {
    border-radius: 8px;
}
.dropdown-item.active, .dropdown-item:active {
    background-color: var(--bs-dropdown-link-hover-bg)!important;
    color: inherit!important;
}
.col-form-label {
    margin-top: 4px;
}
.decoration-none {
    text-decoration: none;
}
.container {
    color: white;
}
html, body {
    height: 100%;
}
main {
    height: calc(100% - 56px);
}
.home-promo-text {
    font-size: 48px;
}
.not-selectable {
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -o-user-select: none;
    -moz-user-select: none;
}
.not-clickable {
    pointer-events:none;
}
.hidden {
    display: none;
}
.todo-list .task {
    list-style-type: none!important;
}
ol, ul {
    padding: 0!important;
}
.keep-scrolling {
    overflow-y: scroll; /* Add the ability to scroll y axis*/
}
.keep-scrolling::-webkit-scrollbar {
    display: none;
}
.keep-scrolling {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.add-task.error {
    outline: 2px solid #dc3545;
}
.refresh:hover, .refresh:focus {
    color: #0948a6!important;
}
[data-notify="progressbar"] {
    margin-bottom: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
}
div[data-notify] {
    min-width: 120px;
    padding-right: 30px;
    width: auto;
    left: 10px!important;
    margin-top: 48px!important;
}
div[data-notify] {
    color: white;
    background: #111864;
    border: 0;
    border-radius: 6px;
}
div[data-notify] svg {
    width: 1.6em!important;
}
div[data-notify] .close {
    color: white!important;
}
.alert-success svg,
.alert-success .fas {
    color: green; /* #0f5132 */
    font-size: 24px;
    vertical-align: middle;
    margin-top: -2px;
    margin-right: 6px;
    margin-left: -4px;
}
.alert-danger svg,
.alert-danger .fas {
    color: #842029;
    font-size: 24px;
    vertical-align: middle;
    margin-top: -2px;
    margin-right: 6px;
    margin-left: -4px;
}
div[data-notify] .close {
    right: 4px!important;
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: black;
    cursor: pointer;
    text-decoration: none;
}
.menu {
    right: 8px!important;
    top: 8px!important;
}
.menu li:hover {
    cursor: pointer;
}
.menu .option p {
    margin: 0!important;
    font-size: unset!important;
    font-weight: unset!important;
    color: unset!important;
}
.menu .option div * {
    display: inline-block;
    color: black!important;
}
.menu .option div {
    padding: 0 8px;
}
.task .menu .fa-pencil:before {
    color: #000;
}
.task.danger .menu .fa-pencil:before {
    color: #000;
}
.popup {
    max-width: 44em;
    opacity: 1;
    visibility: visible;
    display: inline-block;
    outline: none;
    text-align: center!important;
    position: relative;
    vertical-align: middle;
    min-height: 20px;
    padding: 19px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}
.popup h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: bold;
}
.popup button {
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
    margin-bottom: -5px;
    border-radius: 5px;
    border: none;
    padding: 7.5px 15px;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
}
.popup table {
    margin: 0 auto;
    text-align: center;
}
.popup .left {
    padding-right: 8px;
}
.popup h3 small {
    font-size: 12px;
}
.no-resize {
    resize: none!important;
}
.form-select,
.form-select:focus {
    border: 0!important;
}
.form-select:focus {
    outline: 0!important;
    box-shadow: none!important;
}
.form-control:focus {
    border: 0!important;
    outline: 0!important;
    box-shadow: none!important;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: unset!important;
    border: 0;
}
.nav-tabs {
    border-color: #202938;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus-visible {
    isolation: isolate;
    border: 0!important;
}
:focus-visible {
    border: 0!important;
    outline: 0!important;
}
a:-webkit-any-link:focus-visible {
    outline-offset: 0!important;
}
.nav-tabs .nav-link.active:focus, .nav-tabs .nav-link.active:hover, .nav-tabs .nav-link.active:focus-visible {
    border-bottom: 2px solid #2733ac!important;
}
.nav-tabs .nav-link.active {
    font-weight: bold;
    color: #2733ac!important;
    border-bottom: 2px solid #2733ac;
}
.nav-tabs .nav-link {
    border: 0;
}
.settings-card .card-toggle, .settings-card .card-select {
    display: inline-block;
    float: right;
    margin-right: -14px;
    margin-top: -8px;
}
.settings-card .card-select {
    transform: scale(0.8);
    margin-right: -18px;
    margin-top: -15px;
}
.settings-card .card-title {
    display: inline-block;
}
.search {
    --text-color: #414856;
    --primary-color: white;
    --secondary-color: black;
    --border-radius: 5px;
    --width: 190px;
    --height: 32px;
    width: auto;
    height: var(--height);
    position: relative;
    overflow: hidden;
    border-radius: var(--border-radius);
    box-shadow: 0 10px 30px rgba(65, 72, 86, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 4px;
}
.search input[type=text] {
    position: relative;
    width: var(--height);
    height: var(--height);
    color: var(--text-color);
    border: 0;
    box-sizing: border-box;
    outline: none;
    padding: 0 0 0 40px;
    transition: width 0.6s ease;
    z-index: 10;
    opacity: 0;
    cursor: pointer;
}
.search input[type=text]:hover {
    cursor: pointer;
}
.search:hover {
    cursor: text!important;
}
.search input[type=text]:focus {
    z-index: 0;
    opacity: 1;
    width: var(--width);
}
.search input[type=text]:focus ~ .symbol::before {
    width: 0;
}
.search input[type=text]:focus ~ .symbol:after {
    -webkit-clip-path: inset(0% 0% 0% 100%);
    clip-path: inset(0% 0% 0% 100%);
    transition: -webkit-clip-path 0.04s linear 0.105s;
    transition: clip-path 0.04s linear 0.105s;
    transition: clip-path 0.04s linear 0.105s, -webkit-clip-path 0.04s linear 0.105s;
}
.search input[type=text]:focus ~ .symbol .cloud {
    top: -30px;
    left: -30px;
    transform: translate(0, 0);
    transition: all 0.6s ease;
}
.search input[type=text]:focus ~ .symbol .lens {
    top: 8px;
    left: 15px;
    transform: translate(0, 0);
    fill: var(--secondary-color);
    transition: top 0.5s ease 0.1s, left 0.5s ease 0.1s, fill 0.3s ease;
}
.search .symbol {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search .symbol:before {
    content: "";
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: width 0.6s ease;
}
.search .symbol:after {
    content: "";
    position: absolute;
    top: 21px;
    left: 21px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    z-index: 1;
    -webkit-clip-path: inset(0% 0% 0% 0%);
    clip-path: inset(0% 0% 0% 0%);
    transition: -webkit-clip-path 0.04s linear 0.225s;
    transition: clip-path 0.04s linear 0.225s;
    transition: clip-path 0.04s linear 0.225s, -webkit-clip-path 0.04s linear 0.225s;
}
.search .symbol .cloud,
.search .symbol .lens {
    position: absolute;
    fill: var(--primary-color);
    stroke: none;
    top: 50%;
    left: 50%;
}
.search .symbol .cloud {
    width: 35px;
    height: 32px;
    transform: translate(-50%, -60%);
    transition: all 0.6s ease;
}
.search .symbol .lens {
    fill: var(--primary-color);
    width: 16px;
    height: 16px;
    z-index: 2;
    top: 9px;
    left: 20px;
    transition: top 0.3s ease, left 0.3s ease, fill 0.2s ease 0.2s;
}
